<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="mclaren" value="https://nuget.pkg.github.com/mat-docs/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceCredentials>
		<!--
		Add your github account and PAT here.
		For more instructions: https://github.com/mat-docs/packages 
		
		<mclaren>
			<add key="Username" value="USERNAME" />
			<add key="ClearTextPassword" value="TOKEN" />
		</mclaren>
		-->
	</packageSourceCredentials>
</configuration>